#reader {
    max-width:420px;
    margin:15px auto;
}

.vehiculo {
    padding:12px;
    margin:8px;
    border:1px solid #ccc;
    border-radius:8px;
}

#reader {
    display:none;
}

#reader.activo {
    display:block;
}


/* Playa y Bloque */
.fila-selectores {
    display:flex;
    gap:15px;
}

.fila-selectores > div {
    flex:1;
}


/* Archivo + botones */
.fila-acciones {
    display:flex;
    align-items:center;
    gap:10px;
    width:100%;
}

.btn-fijo {
    width:155px;
    height:44px;
    flex-shrink:0;
}

.btn-archivo {
    flex:1;
    height:44px;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

.btn-archivo input {
    display:none;
}
.fila-acciones button {
    white-space:nowrap;
}
