#reader {
    max-width:420px;
    margin:15px auto;
}

#reader {
    display:none;
}

#reader.activo {
    display:block;
}

.vehiculo {
    padding:12px;
    margin:8px;
    border:1px solid #ccc;
    border-radius:8px;
}


/* Botones de carga */
.fila-acciones {
    display:flex;
    align-items:center;
    gap:10px;
    width:100%;
    margin-bottom:15px;
}

.fila-acciones .btn-archivo {
    flex:1;
}

.fila-acciones button {
    width:155px;
    height:44px;
    flex-shrink:0;
}

.btn-archivo {
    height:44px;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

.btn-archivo input {
    display:none;
}


/* Playa y Bloque */
.fila-selectores {
    display:flex;
    gap:15px;
    width:100%;
}

.fila-selectores > div {
    flex:1;
}
